<html>
	<body>
	<center>
		<h1><%=@titulo%></h1>
		<h3><%=@mensaje%></h3>	
	</center>

	<form action="/comenzarJuego" ><center>
		<input type="text" name="palabra" />
		<input type="submit" value="Iniciar" />
	</center></form>
	</body>
</html>
